* {
	margin: 0;
	font-family: 'Comfortaa';
}
.matfac{
	font-family: 'Segoe UI', sans-serif;
}
body{
	display: flex;
	justify-content: center;
}
header{
	width: 1280px;
	height: 670px;
	background-image: linear-gradient(to right top, #050537, #251866, #532295, #8a24c2, #c912eb);
}
.header{
	height: 90px;
	background: #121283;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: aliceblue;
}
.group{
	display: contents;
	list-style: none;
}
.aa{
	text-decoration: none;
	color: rgb(190, 192, 194);
}
.aa:hover{
	color: yellow;
}
.gra{
	border-bottom: #0000ff solid 2px;
}
.spisok{
	display: flex;
	height: 550px;
	align-items: center;
	justify-content: safe;
}
.ph{
	margin-top: 25px;
	margin-left: 70px;
	font-size: 18px;
}
.gr{
	text-decoration: none;
	color: antiquewhite;
}
.gr:hover{
	color: red;
}
